# pandas


Пакет для статистической обработки данных, по функциональности близкий к R.

In [1]:
import numpy as np
import pandas as pd

## Series

Одномерный набор данных. Отсутствующий данные записываются как `np.nan` (в этот день термометр сломался или метеоролог был пьян); они не участвуют в вычислении средних, среднеквадратичных отклонений и т.д.

In [2]:
l=[1,3,5,np.nan,6,8]
s=pd.Series(l)
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64


Основная информация о наборе данных: среднее, среднеквадратичное отклонение, минимум, максимум, медиана (которая отличается от среднего для несимметричных распределений).

In [3]:
s.describe()

count    5.000000
mean     4.600000
std      2.701851
min      1.000000
25%      3.000000
50%      5.000000
75%      6.000000
max      8.000000
dtype: float64

Обычная индексация.

In [ ]:
s[2]

In [ ]:
s[2]=7
s

In [ ]:
s[2:5]

In [ ]:
s1=s[1:]
s1

In [ ]:
s2=s[:-1]
s2


В сумме `s1+s2` складываются данные с одинаковыми индексами. Поскольку в `s1` нет данного и индексом 0, а в `s2` - с индексом 5, в `s1+s2` в соответствующих позициях будет `NaN`.

In [ ]:
s1+s2


К наборам данных можно применять функции из `numpy`.

In [ ]:
np.exp(s)

При создании набора данных s мы не указали, что будет играть роль индекса. По умолчанию это последовательность целых чисел 0, 1, 2, ...

In [ ]:
s.index


Но можно создавать наборы данных с индексом, заданным списком.

In [ ]:
i=list('abcdef')
i

In [ ]:
s=pd.Series(l,index=i)
s

In [ ]:
s['c']

Если индекс - строка, то вместо s['c'] можно писать s.c.

In [ ]:
s.c

Набор данных можно создать из словаря.

In [ ]:
s=pd.Series({'a':1,'b':2,'c':0})
s


Можно отсортировать набор данных.

In [ ]:
s.sort_values()

Роль индекса может играть, скажем, последовательность дат (или времён измерения и т.д.).

In [ ]:
d=pd.date_range('20160101',periods=10)
d

In [ ]:
s=pd.Series(np.random.normal(size=10),index=d)
s

Операции сравнения возвращают наборы булевых данных.

In [ ]:
s>0

Если такой булев набор использовать для индексации, получится поднабор только из тех данных, для которых условие есть True.

In [ ]:
s[s>0]

Кумулятивные максимумы - от первого элемента до текущего.

In [ ]:
s.cummax()


Кумулятивные суммы.

In [ ]:
s=s.cumsum()
s


Построим график.

In [ ]:
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
plt.plot(s)

## DataFrame

Двумерная таблица данных. Имеет индекс и набор столбцов (возможно, имеющих разные типы). Таблицу можно построить, например, из словаря, значениями в котором являются одномерные наборы данных.

In [ ]:
d={'one':pd.Series([1,2,3],index=['a','b','c']),
   'two':pd.Series([1,2,3,4],index=['a','b','c','d'])}
df=pd.DataFrame(d)
df

In [ ]:
df.index

In [ ]:
df.columns

Если в качестве индекса указать имя столбца, получится одномерный набор данных.

In [ ]:
df['one']

In [ ]:
df.one

In [ ]:
df['one']['c']


Однако если указать диапазон индексов, то это означает диапазон строк. Причём последняя строка включается в таблицу.

In [ ]:
df['b':'d']


Диапазон целых чисел даёт диапазон строк с такими номерами, не включая последнюю строку (как обычно при индексировании списков). Всё это кажется довольно нелогичным.

In [ ]:
df[1:3]


Логичнее работает атрибут `loc`: первая позиция - всегда индекс строки, а вторая - столбца.

In [ ]:
df.loc['b']

In [ ]:
df.loc['b','one']

In [ ]:
df.loc['a':'b','one']

In [ ]:
df.loc['a':'b',:]

In [ ]:
df.loc[:,'one']

К таблице можно добавлять новые столбцы.

In [ ]:
df['three']=df['one']*df['two']
df['flag']=df['two']>2
df

Также можно удалять имеющиеся.

In [ ]:
del df['two']
df['foo']=0.
df


Добавим копию столбца `one`, в которую входят только строки до второй.

In [ ]:
df['one_tr']=df['one'][:2]
df

In [ ]:
df=df.loc[:,['one','one_tr']]
df

Можно объединять таблицы по вертикали и по горизонтали.

In [ ]:
df2=pd.DataFrame({'one':{'e':0,'f':1},'one_tr':{'e':2}})
df2

In [ ]:
pd.concat([df,df2])

In [ ]:
df2=pd.DataFrame({'two':{'a':0,'b':1},'three':{'c':2,'d':3}})
df2

In [ ]:
pd.concat([df,df2],axis=1)


Создадим таблицу из массива случайных чисел.

In [ ]:
df=pd.DataFrame(np.random.randn(10,4),
                columns=['A','B','C','D'])
df

In [ ]:
df2=pd.DataFrame(np.random.randn(7,3),columns=['A','B','C'])
df+df2

In [ ]:
2*df+3

In [ ]:
np.sin(df)

In [ ]:
df.describe()

In [ ]:
df.sort_values(by='B')

Атрибут iloc подобен loc: первый индекс - номер строки, второй - номер столбца. Это целые числа, конец диапазона на включается (как обычно в питоне).

In [ ]:
df.iloc[2]

In [ ]:
df.iloc[1:3]

In [ ]:
df.iloc[1:3,0:2]

кумулятивные суммы

In [ ]:
cs=df.cumsum()
cs

In [ ]:
plt.plot(cs)